# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
HueLights/bin/Debug/HueLights.config
HueLights/bin/Debug/HueLights.pdb
HueLights/bin/Debug/manifest.info
HueLights/bin/Debug/manifest.ser
HueLights/bin/Debug/SimplSharpCustomAttributesInterface.dll
HueLights/bin/Debug/SimplSharpHelperInterface.dll
HueLights/bin/Debug/SimplSharpNewtonsoft.dll
HueLights/bin/Debug/SimplSharpReflectionInterface.dll
HueLights/bin/Debug/SimplSharpSQLHelperInterface.dll
HueLights/obj/Debug/HueLights.pdb
HueTest/bin/Debug/Crestron.SimplSharpPro.DeviceSupport.dll
HueTest/bin/Debug/HueTest.dll
HueTest/bin/Debug/HueTest.pdb
HueTest/bin/Debug/manifest.info
HueTest/bin/Debug/manifest.ser
HueTest/bin/Debug/ProgramInfo.config
HueTest/bin/Debug/SimplSharpCustomAttributesInterface.dll
HueTest/bin/Debug/SimplSharpHelperInterface.dll
HueTest/bin/Debug/SimplSharpNewtonsoft.dll
HueTest/bin/Debug/SimplSharpPro.exe
HueTest/bin/Debug/SimplSharpReflectionInterface.dll
HueTest/bin/Debug/SimplSharpSQLHelperInterface.dll
HueTest/obj/Debug/HueTest.pdb
HueTest/obj/Debug/ResolveAssemblyReference.cache
SIMPL/PhillipsHue Demo v2.2.lpz.hash
SIMPL/PhillipsHue Demo v2.2_archive.zip
SIMPL/SPlsWork/HueBulb_r2.2.inf
SIMPL/SPlsWork/HueBulb_r2_2.cs
SIMPL/SPlsWork/HueBulb_r2_2.dll
SIMPL/SPlsWork/HueLights.dll
SIMPL/SPlsWork/HueLights.h
SIMPL/SPlsWork/HueLights.inf
SIMPL/SPlsWork/HueLightsproc_r1.5.inf
SIMPL/SPlsWork/HueLightsproc_r1_5.dll
SIMPL/SPlsWork/HueLightsRoom_r1.5.inf
SIMPL/SPlsWork/HueLightsRoom_r1_5.cs
SIMPL/SPlsWork/HueLightsRoom_r1_5.dll
SIMPL/SPlsWork/SimplSharpCustomAttributesInterface.dll
SIMPL/SPlsWork/SimplSharpHelperInterface.xml
SIMPL/SPlsWork/SimplSharpNewtonsoft.dll
SIMPL/SPlsWork/SimplSharpNewtonsoft.xml
SIMPL/SPlsWork/SimplSharpReflectionInterface.dll
SIMPL/SPlsWork/SimplSharpReflectionInterface.xml
SIMPL/SPlsWork/SimplSharpSQLHelperInterface.dll
SIMPL/SPlsWork/SimplSharpSQLHelperInterface.xml
SIMPL/SPlsWork/Utilities.dll
SIMPL/SPlsWork/Version.ini
